<article>
  <div *ngFor="let step of steps" class="card" style="width: 18rem">
    <div
      id="img-div"
      class="card-img-top"
      [ngStyle]="{ 'background-color': step.bgcolor }"
    >
      <img [src]="step.image" alt="{{ step.title }}" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ step.title }}</h5>
      <p class="card-text">{{ step.description }}</p>

      <div id="button-div">
        <i id="button-1" class="bi bi-arrow-right-circle-fill"></i>
      </div>
    </div>
  </div>
</article>
